.btn {
  border: 1px solid rgba(215, 215, 215, 0.3);
  width: 30px;
  color: #d7d7d7;
  background-color: #474747;
  cursor: pointer;
}

.btnActive {
  border: 1px solid rgba(215, 215, 215, 0.3);
  width: 30px;
  color: #d7d7d7;
  background-color: rgb(40, 40, 215);
  cursor: pointer;
}
