.container {
  background-color: #bdc0c0;
  height: 35px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  border: 1px solid rgba(51, 54, 54, 0.2);
}

.container p {
  cursor: pointer;
}
