.btnContainer {
  width: 100%;
  background-color: #1e2223;
  height: 28px;
  display: flex;
}
.btnContainer button {
  margin-left: 15px;
  border: none;
  color: #d7d7d7;
  background-color: transparent;
  cursor: pointer;
}
.nameContainer {
  background-color: #50575c;
  color: #d7d7d7;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pContainer {
  background-color: #bdc0c0;
}
.pContainer p {
  height: 35px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  border: 1px solid rgba(51, 54, 54, 0.2);
}
